@use "../foundation/forward" as fwd;

/*----------------------------------------
	l-header
----------------------------------------*/
.l-header {
  /* インナー幅（px）*/
  --miw_inner: 351;
  --maw_inner: 1380;
  /* インナー幅比率 */
  --rate_inner: calc((var(--miw_inner) / var(--vw_sp)) * 100%);
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: background-color 0.3s, color 0.3s;
  z-index: 999;
}

/* ハンバーガメニューオープン */
.l-header.is-menu-open .l-header__logo,
.l-header.is-menu-open .l-header__hamburger {
  color: var(--c_base);
}

.l-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--rate_inner);
  margin-right: auto;
  margin-left: auto;
}

.l-header__logo {
  position: relative;
  flex-shrink: 0;
  width: 154px;
  z-index: 999;
}

.l-header__btn {
  display: none;
  position: relative;
  width: 100px;
  margin-top: 6px;
  margin-left: auto;
  padding: 1em;
  background-color: var(--c_bg);
  color: var(--c_white);
  font-family: var(--ff_viga);
  font-size: var(--fz_12);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s;
  z-index: 999;
}

.l-header__btn--default {
  @include fwd.hover-opacity();
}

.l-header__btn--entry {
  @include fwd.entry-btn();
}

.l-header__btn + .l-header__btn {
  margin-left: 22px;
}

.l-header__btn + .l-header__hamburger {
  margin-left: 40px;
}

.l-header__hamburger {
  position: relative;
  width: 32px;
  z-index: 999;
}

.l-header__menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 998;
}

.l-header__menu[aria-hidden="false"] {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .l-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 992px) {
  .l-header__btn {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .l-header {
    --rate_inner: calc((var(--maw_inner) / var(--vw_pc)) * 100%);
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .l-header__inner {
    max-width: calc(var(--maw_inner) * 1px);
  }

  .l-header__logo {
    width: 250px;
  }

  .l-header__btn {
    margin-top: 12px;
    width: 126px;
    font-size: var(--fz_14);
  }

  .l-header__hamburger {
    width: 52px;
  }
}


/*----------------------------------------
	l-header.is-sticky
----------------------------------------*/
.l-header.is-sticky {
  background-color: var(--c_white);
}

.l-header.is-sticky .l-header__logo,
.l-header.is-sticky .l-header__hamburger[aria-expanded="false"] {
  color: var(--c_base);
}
