@use "../foundation/forward" as fwd;

/*----------------------------------------
	l-inner-top（トップページ用）
----------------------------------------*/
.l-inner-top {
  width: var(--rate_inner);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .l-inner-top {
    max-width: calc(var(--maw_inner) * 1px);
  }
}


/*----------------------------------------
	l-inner-sub（下層ページ用）
----------------------------------------*/
.l-inner-sub {
  width: var(--rate_inner);
  max-width: calc(var(--maw_inner) * 1px);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .l-inner-sub {
    width: var(--rate_inner-tab);
  }
}
