/*----------------------------------------
	Base
----------------------------------------*/
body {
  -webkit-text-size-adjust: 100%;
  color: var(--c_base);
  font-family: var(--font_sans);
  overflow-x: hidden;
  overflow-y: auto;
  text-size-adjust: 100%;
}

li {
  list-style: none;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:focus-visible {
  border: 3px solid var(--c_focus);
  outline: none;
}

img, svg {
  width: 100%;
  height: auto;
  vertical-align: top;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: var(--c_base);
  font-family: var(--font_sans);
  font-size: var(--fz_16);
  outline: none;
}

input:focus {
  box-shadow: 0 0 0 2px var(--c_focus);
}

button {
  -webkit-appearance: none;
  // Safariでタップ時のハイライトを除去
  -webkit-tap-highlight-color: transparent;
  display: block;
  padding: 0;
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
}

button:focus-visible {
  outline: -webkit-focus-ring-color auto 5px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  color: var(--c_base);
  font-family: var(--font_sans);
  font-size: var(--fz_16);
}

select:focus {
  box-shadow: 0 0 0 2px var(--c_focus);
}

textarea {
  border-radius: 0;
  color: var(--c_base);
  font-family: var(--font_sans);
  font-size: var(--fz_16);
  outline: none;
  resize: vertical;
}

textarea:focus {
  box-shadow: 0 0 0 2px var(--c_focus);
}

summary {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}

summary:active {
  box-shadow: none;
  filter: none;
}

iframe {
  display: block;
  width: 100%;
  height: auto;
}

span {
  display: inline-block;
}