@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	Top
----------------------------------------*/
.p-page-top {
  overflow: hidden;
}


/*----------------------------------------
	First View
----------------------------------------*/
.p-page-top__fv {
  --height_fv: 667px; /* ファーストビュー高さ */
  position: relative;
  height: min(var(--height_fv), 100svh);
}

.p-page-top__fv-inner {
  display: flex;
  align-items: flex-end; /* Flexアイテムを下に寄せる */
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  transform: translateX(-50%);
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .p-page-top__fv-inner {
    padding-bottom: 38px;
  }
}

@media (min-width: 1200px) {
  .p-page-top__fv {
    --height_fv: 823px; /* ファーストビュー高さ */
  }
}


/*----------------------------------------
	Mission
----------------------------------------*/
.p-page-top__mission {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media (min-width: 1200px) {
  .p-page-top__mission {
    padding-top: 100px;
    padding-bottom: 75px;
  }
}


/*----------------------------------------
	Staff
----------------------------------------*/
.p-page-top__staff {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media (min-width: 1200px) {
  .p-page-top__staff {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}


/*----------------------------------------
	Benefits
----------------------------------------*/
.p-page-top__benefits {
  padding-top: 48px;
  padding-bottom: 78px;
}

@media (min-width: 1200px) {
  .p-page-top__benefits {
    padding-top: 75px;
    padding-bottom: 107px;
  }
}


/*----------------------------------------
	Blog
----------------------------------------*/
.p-page-top__blog {
  padding-top: 78px;
  padding-bottom: 45px;
}

@media (min-width: 1200px) {
  .p-page-top__blog {
    padding-top: 87px;
    padding-bottom: 84px;
  }
}


/*----------------------------------------
	Recruit
----------------------------------------*/
.p-page-top__recruit {
  padding-top: 45px;
  padding-bottom: 88px;
}

@media (min-width: 1200px) {
  .p-page-top__recruit {
    padding-top: 84px;
    padding-bottom: 139px;
  }
}
