@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	p-page-blog
----------------------------------------*/
.p-page-blog__inner {
  width: var(--rate_inner);
  max-width: calc(var(--maw_inner) * 1px);
  margin: 0 auto;
  padding: 65px 0 70px;
}

.p-page-blog__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}

.p-page-blog-detail__post {
  margin-top: 45px;
}

@media (min-width: 768px) {
  .p-page-blog__inner {
    width: var(--rate_inner-tab);
  }

  .p-page-blog__list {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .p-page-blog__inner {
    padding: 130px 0 139px;
  }

  .p-page-blog__list {
    column-gap: calc(52 / var(--maw_inner) * 100%);
  }

  .p-page-blog__media {
    min-height: 180px;
  }
}
