@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	Philosophy
----------------------------------------*/
.p-page-about__philosophy {
  padding: 66px 0 63px;
}


/*----------------------------------------
	CEO
----------------------------------------*/
.p-page-about__ceo {
  padding: 63px 0 75px;
}


/*----------------------------------------
	Service
----------------------------------------*/
.p-page-about__service {
  padding: 75px 0;
}


/*----------------------------------------
	Company
----------------------------------------*/
.p-page-about__company {
  padding: 75px 0 139px;
}
