@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	Details
----------------------------------------*/
.p-page-details__details {
  padding: 64px 0 70px;
}

@media (min-width: 992px) {
  .p-page-details__details {
    padding: 145px 0 139px;
  }
}
