@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	p-page-faq
----------------------------------------*/
.p-page-faq__fv {
  background-position: left bottom;
}
