@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	p-page-staff
----------------------------------------*/
.p-page-staff__inner {
  width: var(--rate_inner);
  max-width: calc(var(--maw_inner) * 1px);
  margin: 0 auto;
  padding: 65px 0 70px;
}

.p-page-staff__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 48px;
}

.p-page-staff__item {
  padding-bottom: 10px; /* テキスト下部の見切れを防ぐための余白 */
}

@media (min-width: 768px) {
  .p-page-staff__inner {
    width: var(--rate_inner-tab);
  }
}

@media (min-width: 992px) {
  .p-page-staff__inner {
    padding: 130px 0 139px;
  }
}
