@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	First View
----------------------------------------*/
.p-page-details__fv {
  --pos_img: top; /* img要素のobject-position */
}

/*----------------------------------------
	Details
----------------------------------------*/
.p-page-details__details {
  padding-top: 64px;
  padding-bottom: 70px;
}

@media (min-width: 992px) {
  .p-page-details__details {
    padding-top: 145px;
    padding-bottom: 139px;
  }
}
