@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	p-sect-company
----------------------------------------*/
.p-sect-company__inner {
  width: var(--rate_inner);
  max-width: calc(var(--maw_inner) * 1px);
  margin: 0 auto;
}

.p-sect-company__title {
  font-size: fwd.make-clamp(24, 32, 375, 768);
  font-weight: 700;
  line-height: 1.2;
}

.p-sect-company__table {
  margin-top: 54px;
}


@media (min-width: 768px) {
  .p-sect-company__inner {
    width: var(--rate_inner-tab);
  }
}


@media (min-width: 992px) {
  .p-sect-company__table {
    margin-top: 113px;
  }
}
