@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	p-sect-staff
----------------------------------------*/
.p-sect-staff__text {
  margin-top: 43px;
  line-height: 1.5;
}

.p-sect-staff__list {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  margin-right: calc(50% - 50vw); /* 右側をビューポートいっぱいに広げる */
}

.p-sect-staff__item {
  margin-right: 23px;
  padding-bottom: 10px; /* テキスト下部の見切れを防ぐための余白 */
}

.p-sect-staff__item:nth-child(odd) {
  margin-top: 25px;
}

/* VIEW MOREボタンとスライダー切り替えボタンのラッパー */
.p-sect-staff__btn-wrap {
  position: relative;
  margin-top: 54px;
  text-align: center;
}

/* スライダー切り替えボタン（SP時は非表示） */
.p-sect-staff__arrow-btns {
  display: none;
}

@media (min-width: 768px) {
  .p-sect-staff__arrow-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .p-sect-staff__arrow-btn {
    width: 42px;
  }
}

@media (min-width: 992px) {
  .p-sect-staff__item {
    margin-right: 43px;
  }

  .p-sect-staff__item:nth-child(odd) {
    margin-top: 36px;
  }

  .p-sect-staff__btn-wrap {
    margin-top: 70px;
  }

  .p-sect-staff__arrow-btns {
    gap: 20px;
  }

  .p-sect-staff__arrow-btn {
    width: 58px;
  }
}
