@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	p-sect-hero-staff
----------------------------------------*/
.p-sect-hero-staff {
  --c_bg: #FAF7F1;
  padding: 43px 0;
  background-color: var(--c_bg)
}

.p-sect-hero-staff__inner {
  display: flex;
  flex-direction: column-reverse;
  gap: 54px;
  width: calc(var(--w_rate) * 100%);
  max-width: calc(var(--w_inner-max) * 1px);
  margin: 0 auto;
}

.p-sect-hero-staff__title-main {
  width: fit-content;
  padding: 0.08em 0.3em;
  background-color: var(--c_white);
  font-size: fwd.make-clamp(28, 32, 375, 768);
  font-weight: 700;
  line-height: 1.2;
}

.p-sect-hero-staff__title-sub {
  width: fit-content;
  margin-top: 18px;
  padding: 0.1em 0.4em;
  background-color: var(--c_white);
  font-size: fwd.make-clamp(20, 24, 375, 768);
  font-weight: 700;
  line-height: 1.2;
}

.p-sect-hero-staff__name {
  display: inline-block;
  margin-top: 12px;
  font-size: var(--fz_24);
  font-weight: 700;
}

.p-sect-hero-staff__position {
  color: var(--c_accent);
  font-weight: 700;
}

.p-sect-hero-staff__joined {
  display: inline-block;
  margin-left: 1em;
}

.p-sect-hero-staff__career {
  margin-top: 13px;
  line-height: 1.8;
}

@media (max-width: 767px) {
  .p-sect-hero-staff__inner {
    position: relative;
  }

  .p-sect-hero-staff__title {
    position: absolute;
    bottom: 50%;
    right: 0;
    max-width: 396px;
  }

  .p-sect-hero-staff__img-wrap {
    width: 100%;
    max-width: 341px;
  }
}


@media (min-width: 768px) {
  .p-sect-hero-staff__inner {
    flex-direction: row;
    gap: calc((85 / var(--w_inner-max)) * 100%);
    width: calc((var(--w_inner-tab) / var(--w_inner-max)) * 100%);
  }

  .p-sect-hero-staff__body {
    flex: 0 0 calc((605 / var(--w_inner-max)) * 100%);
  }

  .p-sect-hero-staff__profile {
    margin-top: 33px;
  }

  .p-sect-hero-staff__img-wrap {
    flex: 1;
  }
}
