@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	p-sect-career
----------------------------------------*/
.p-sect-career {
  --c_bg: #AFA86F;
}

.p-sect-career__inner {
  width: var(--rate_inner);
  max-width: calc(var(--maw_inner) * 1px);
  margin: 0 auto;
}

.p-sect-career__title {
  font-size: fwd.make-clamp(24, 32, 375, 768);
  font-weight: 700;
  line-height: 1.2;
}

.p-sect-career__title + .p-sect-career__text {
  margin-top: 54px;
}

.p-sect-career__text {
  line-height: 1.8;
}

.p-sect-career__img-wrap {
  margin-top: 48px;
}

.p-sect-career__img-wrap + .p-sect-career__text {
  margin-top: 37px;
}

.p-sect-career__list {
  display: flex;
  flex-direction: column;
  gap: 37px;
  margin-top: 54px;
}

.p-sect-career__item-title {
  padding: 0.5em 0.875em;
  background-color: var(--c_bg);
  border-radius: 10px;
  font-size: fwd.make-clamp(20, 24, 375, 768);
  font-weight: 700;
}

.p-sect-career__item-title + .p-sect-career__text {
  margin-top: 25px;
}


@media (min-width: 768px) {
  .p-sect-career__inner {
    width: var(--rate_inner-tab);
  }
}


@media (min-width: 992px) {
  .p-sect-career__title + .p-sect-career__text {
    margin-top: 113px;
  }

  .p-sect-career__list {
    margin-top: 89px;
  }

  .p-sect-career__item-title + .p-sect-career__text {
    margin-top: 50px;
  }
}
