@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	p-fv
----------------------------------------*/
.p-fv {
  /* スライダーの基準位置 */
  position: relative;
}

.p-fv__inner {
  display: flex;
  /* Flexアイテムを下に寄せる */
  align-items: flex-end;
  /* 最大幅はp-page-top要素から取得 */
  max-width: var(--maw_inner);
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.p-fv__slider {
  position: absolute;
  top: 0;
  width: 100%;
}

.p-fv__slide {
  /* 高さはp-page-top要素から取得 */
  height: var(--h_fv);
}

.p-fv__img {
  height: 100%;
  object-fit: cover;
}

.p-fv__content {
  width: 100%;
}

.p-fv__title {
  margin-left: 12px;
  text-shadow: 0 4px 4px var(--c_shadow);
  color: var(--c_white);
  font-family: var(--ff_viga);
  font-size: fwd.make-clamp(48, 96, 375, 1440);
  line-height: 1.2;
  text-transform: uppercase;
}

.p-fv__title-sub {
  width: fwd.make-clamp(228, 515, 375, 1440, "px");
  margin-top: 18px;
}

.p-fv__news-bar {
  width: calc((351 / var(--vw_sp)) * 100%);
  max-width: calc((1263 / var(--vw_pc)) * 100%);
  margin-top: 31px;
  margin-right: auto;
  margin-left: auto;
}


@media (min-width: 768px) {
  .p-fv__title-sub {
    margin-top: 86px;
  }

  .p-fv__news-bar {
    margin-top: 63px;
  }
}


@media (min-width: 1200px) {
  .p-fv__title {
    margin-left: 66px;
  }
}
