@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	p-fv
----------------------------------------*/
.p-fv__content {
  width: 100%;
}

.p-fv__title {
  margin-left: 12px;
  text-shadow: 0 4px 4px var(--c_shadow);
  color: var(--c_white);
  font-family: var(--font_viga);
  font-size: fwd.make-clamp(48, 96, 375, 1440);
  line-height: 1.2;
  text-transform: uppercase;
}

.p-fv__title-sub {
  width: fwd.make-clamp(228, 515, 375, 1440, "px");
  margin-top: 18px;
}

.p-fv__news-bar {
  width: calc((351 / var(--vw_base-SP)) * 100%);
  max-width: calc((1263 / var(--vw_base-PC)) * 100%);
  margin: 31px auto 0;
}

.p-fv__img-list {
  position: relative;
}

.p-fv__img-item {
  position: absolute;
  top: 0;
  width: 100%;
  height: min(var(--height_fv), 100svh); /* 高さはページ側（p-page-top要素）から取得 */
}

.p-fv__img {
  height: 100%;
  object-fit: cover;
}


@media (min-width: 768px) {
  .p-fv__title-sub {
    margin-top: 86px;
  }

  .p-fv__news-bar {
    margin-top: 63px;
  }
}


@media (min-width: 1200px) {
  .p-fv__title {
    margin-left: 66px;
  }
}
