@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	p-fv
----------------------------------------*/
.p-fv {
  --h_fv: 667; /* ファーストビュー高さ */
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(var(--h_fv) * 1px);
}

.p-fv__inner {
  display: flex;
  align-items: flex-end; /* Flexアイテムを下に寄せる */
  position: absolute;
  top: 0;
  right: 0; /* inner中央寄せ */
  left: 0;  /* inner中央寄せ */
  width: 100%;
  height: 100%;
  max-width: calc(var(--vw_base-PC) * 1px);
  margin: 0 auto; /* inner中央寄せ */
  padding-bottom: 10px;
}

.p-fv__content {
  width: 100%;
}

.p-fv__title {
  margin-left: 12px;
  text-shadow: 0 4px 4px var(--c_shadow);
  color: var(--c_white);
  font-family: var(--font_viga);
  font-size: fwd.make-clamp(48, 96, 375, 1440);
  line-height: 1.2;
  text-transform: uppercase;
}

.p-fv__title-sub {
  width: fwd.make-clamp(228, 515, 375, 1440, "px");
  margin-top: 18px;
}

.p-fv__news-bar {
  width: calc((351 / var(--vw_base-SP)) * 100%);
  max-width: calc((1263 / var(--vw_base-PC)) * 100%);
  margin: 31px auto 0;
}

.p-fv__img-list {
  position: relative;
}

.p-fv__img-item {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(var(--h_fv) * 1px); /* absolute要素のため、明示的に高さを設定 */
}

.p-fv__img {
  height: 100%;
  object-fit: cover;
}


@media (min-width: 768px) {
  .p-fv__inner {
    padding-bottom: 38px;
  }

  .p-fv__title-sub {
    margin-top: 86px;
  }

  .p-fv__news-bar {
    margin-top: 63px;
  }
}


@media (min-width: 1200px) {
  .p-fv {
    --h_fv: 823;
  }

  .p-fv__title {
    margin-left: 66px;
  }
}
