@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	p-menu
----------------------------------------*/
.p-menu {
  --c_bg: #FAF7F1;
  background-color: var(--c_bg);
}

.p-menu__inner {
  width: calc((351 / 375) * 100%);
  margin: 0 auto;
  padding-top: 91px;
}

.p-menu__body {
  display: none;
}

.p-menu__logo {
  width: 187px;
  color: var(--c_base);
}

.p-menu__item {
  border-top: 1px solid var(--c_border);
}

.p-menu__item:nth-last-child(1) {
  border-bottom: 1px solid var(--c_border);
}

.p-menu__link {
  display: block;
  padding: 13px 0;
  font-family: var(--font_viga);
  font-size: var(--fz_18);
  text-transform: uppercase;
  @include fwd.hover-opacity();
}

.p-menu__text-sub {
  display: block;
  margin-top: 9px;
  font-size: var(--fz_12);
  font-weight: 700;
}

.p-menu__btn-wrap {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 53px;
}

.p-menu__btn {
  --c_bg: #222222;
  display: inline-block;
  width: 248px;
  padding: 1em;
  background-color: var(--c_bg);
  color: var(--c_white);
  font-family: var(--font_viga);
  font-size: var(--fz_14);
  font-weight: 700;
  text-align: center;
  transition: background-color 0.3s;
}

.p-menu__btn--default {
  @include fwd.hover-opacity();
}

.p-menu__btn--entry {
  @include fwd.entry-btn();
}

@media (min-width: 768px) {
  .p-menu__inner {
    width: calc((1178 / 1440) * 100%);
    max-width: 1178px;
    padding-top: 150px;
  }
}

@media (min-width: 992px) {
  //カスタムプロパティがnth-childに使えないため、例外的にSASS変数を使用
  $menu-row-num: 3; //行数
  $menu-col-num: 2; //列数

  .p-menu__inner {
    display: grid;
    grid-template-areas:
      "body navi"
      "body btns";
    justify-content: end; /* .p-menu__innerの中身全体を右寄せ */
  }

  .p-menu__body {
    display: flex;
    align-items: center;
    grid-area: body;
    margin-right: 49px;
    padding-right: 49px;
    border-right: 1px solid var(--c_border);
  }

  .p-menu__list {
    display: grid;
    column-gap: 30px;
    grid-area: navi;
    grid-template-columns: repeat($menu-col-num, 248px);
    grid-template-rows: repeat($menu-row-num, auto);
    grid-auto-flow: column;
  }

  .p-menu__item:nth-child(#{$menu-row-num}n) {
    border-bottom: 1px solid var(--c_border);
  }

  .p-menu__btn-wrap {
    flex-direction: row;
    gap: 30px;
    grid-area: btns;
  }
}

@media (min-width: 1200px) {
  .p-menu__inner {
    padding-top: 208px;
  }

  .p-menu__body {
    margin-right: fwd.make-clamp(49, 63, 1024, 1440, "px");
    padding-right: fwd.make-clamp(49, 63, 1024, 1440, "px");
  }

  .p-menu__logo {
    width: fwd.make-clamp(213, 250, 1024, 1440, "px");
  }

  .p-menu__link {
    padding: 23px 0;
    font-size: fwd.make-clamp(28, 32, 1024, 1440);
  }
  
  .p-menu__text-sub {
    margin-top: 11px;
    font-size: fwd.make-clamp(14, 16, 1024, 1440);
  }
}
