@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	p-part-media
----------------------------------------*/
.p-part-media {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  background-color: var(--c_white);
  border-radius: 10px;
  // 下線アニメーション
  @include fwd.text-underline-animation(".p-part-media__title");
}

.p-part-media--floral-white {
  --c_bg: #FAF7F1; /* Floral White */
  background-color: var(--c_bg);
}

.p-part-media__img-wrap {
  flex-shrink: 0;
  width: calc((121 / 341) * 100%);
}

.p-part-media__img {
  height: 100%;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
  /* 以下は画質対策 */
  image-rendering: smooth;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.p-part-media__body {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-left: calc((18 / 341) * 100%);
  padding: 9px 7px 5px 0;
}

.p-part-media__title-wrap {
  margin-top: fwd.make-clamp(9, 23, 375, 768, "px");
}

.p-part-media__title {
  font-size: fwd.make-clamp(14, 18, 375, 768);
  font-weight: 700;
  line-height: 1.5;
}

.p-part-media__categories {
  font-size: fwd.make-clamp(12, 14, 375, 768);
}

.p-part-media__date {
  margin-top: 10px;
  font-size: var(--fz_12);
}

@media (min-width: 768px) {
  .p-part-media__body {
    padding: 20px 20px 20px 0;
  }

  .p-part-media__categories {
    font-size: fwd.make-clamp(12, 14, 768, 1440);
  }

  .p-part-media__title {
    font-size: fwd.make-clamp(14, 18, 768, 1440);
  }
}
