@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	p-part-cta
----------------------------------------*/
.p-part-cta {
  padding: 24px 0 29px;
  background: var(--c_white);
  border-radius: 20px;
  text-align: center;
}

.p-part-cta__text {
  font-size: fwd.make-clamp(14, 16, 375, 768);
  font-weight: 700;
  line-height: 2.5;
}

.p-part-cta__btn {
  width: calc((200 / 343) * 100%);
  margin-top: 24px;
  border: none;
  font-size: fwd.make-clamp(14, 16, 375, 768);
  @include fwd.entry-btn(var(--c_base));
}

@media (min-width: 1200px) {
  .p-part-cta {
    padding: 50px 0;
  }
}