@use "../../../foundation/forward" as fwd;

/*----------------------------------------
	p-part-fv-sub
----------------------------------------*/
.p-part-fv-sub {
  height: 339px;
  margin-top: 54px; /* ヘッダー高さに合わせる */
  background-repeat: no-repeat;
  background-size: cover;
}

.p-part-fv-sub__inner {
  position: relative;
  width: calc(var(--w_rate) * 100%);
  height: 100%;
  margin: 0 auto;
}

.p-part-fv-sub__content {
  position: absolute;
  left: 0;
  bottom: 98px;
  line-height: 1.2;
}

.p-part-fv-sub__title-main {
  width: fit-content;
  padding: 0.05em 0.2em;
  background: var(--c_white);
  font-family: var(--font_viga);
  font-size: fwd.make-clamp(48, 64, 375, 1200);
  text-transform: uppercase;
}

.p-part-fv-sub__title-sub {
  width: fit-content;
  margin-top: 18px;
  padding: 0.1em 0.4em;
  background: var(--c_white);
  font-size: var(--fz_24);
  font-weight: 700;
}

.p-part-fv-sub__text {
  width: fit-content;
  margin-top: 18px;
  padding: 0.4em 0.6em;
  background: var(--c_white);
  color: var(--c_accent);
  font-weight: 700;
}

@media (min-width: 768px) {
  .p-part-fv-sub {
    margin-top: 70px; /* ヘッダー高さに合わせる */
  }
}

@media (min-width: 992px) {
  .p-part-fv-sub {
    margin-top: 74px; /* ヘッダー高さに合わせる */
  }
}

@media (min-width: 1200px) {
  .p-part-fv-sub {
    margin-top: 113px; /* ヘッダー高さに合わせる */
  }

  .p-part-fv-sub__inner {
    max-width: calc(var(--w_inner-max) * 1px);
  }
}
