@use "../../foundation/forward" as fwd;

/*----------------------------------------
	c-breadcrumb
----------------------------------------*/
.c-breadcrumb {
  --c_bg: #F0F0F0;
  background: var(--c_bg);
}

.c-breadcrumb__inner {
  display: flex;
  align-items: center;
  gap: 4px;
  width: calc(var(--w_rate) * 100%);
  max-width: calc(var(--w_inner-max) * 1px);
  margin: 0 auto;
  padding: 20px 0;
  font-size: var(--fz_14);
  line-height: 1.2;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .c-breadcrumb__inner {
    width: calc((var(--w_inner-tab) / var(--w_inner-max)) * 100%);
  }
}
