@use "../../foundation/forward" as fwd;

/*----------------------------------------
	c-btn-icon
----------------------------------------*/
.c-btn-icon {
  display: grid;
  place-content: center;
  width: 58px;
  aspect-ratio: 1 / 1;
  border: 1px solid currentColor;
  border-radius: 50%;
  transition: 0.3s;
}

.c-btn-icon:focus-visible,
.c-btn-icon:hover {
  background: var(--c_btn);
  color: var(--c_white);
  transform: scale(calc(70 / 58));
}

.c-btn-icon:focus-visible {
  border: 2px solid var(--c_focus);
  outline: none;
}
