@use "../../foundation/forward" as fwd;

/*----------------------------------------
	c-categories
----------------------------------------*/
.c-categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  font-size: var(--fz_14);
}

.c-categories__text {
  position: relative;
  padding-left: 1.3em;
}

.c-categories__text::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 1em;
  aspect-ratio: 1 / 1;
  background-image: url(../images/note-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}
