@use "../../foundation/forward" as fwd;

/*----------------------------------------
	c-pagination
----------------------------------------*/

/* WordPress（the_posts_pagination関数）の出力クラスを使用 */
.c-pagination {

  width: fit-content;
  margin-top: 98px;
  margin-right: auto;
  margin-left: auto;

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 32px;
    row-gap: 16px;
  }

  .page-numbers {
    display: grid;
    place-content: center;
    width: 58px;
    height: 58px;
    background-color: var(--c_white);
    border: 1px solid currentColor;
    border-radius: 50%;
    font-size: var(--fz_14);
    transition: transform 0.3s;
  }

  .page-numbers:focus-visible { /* フォーカス時 */
    border: 2px solid var(--c_focus);
    transform: scale(1.1);
  }

  .page-numbers.current {
    background-color: var(--c_bg);
    color: var(--c_white);
  }

  @media (any-hover: hover) {
    .page-numbers:not(.current):hover { /* ホバー時 */
      transform: scale(1.1);
    }
  }
}