@use "../../foundation/forward" as fwd;

/*----------------------------------------
	c-pagination
----------------------------------------*/

/* WordPress（the_posts_pagination関数）の出力クラスを使用 */
.c-pagination {

  --scale_rate: 1.1; /* ホバー（フォーカス）時のスケール倍率 */
  width: fit-content;
  margin: 98px auto 0;

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 32px;
    row-gap: 16px;
  }

  .page-numbers {
    display: grid;
    place-content: center;
    width: 58px;
    height: 58px;
    background: var(--c_white);
    border: 1px solid currentColor;
    border-radius: 50%;
    font-size: var(--fz_14);
    transition: transform 0.3s;
  }

  .page-numbers.current {
    background: var(--c_bg);
    color: var(--c_white);
  }

  .page-numbers:not(.current):hover {
    transform: scale(var(--scale_rate));
  }

  .page-numbers:focus-visible {
    border: 2px solid var(--c_focus);
    transform: scale(var(--scale_rate));
  }
}