/*----------------------------------------
	Utility: inview
----------------------------------------*/
.u-fade-in-up {
  opacity: 0;
  transform: translate(0, 10%);
}

.u-fade-in-up.is-show {
  animation: fade-in-up forwards 0.8s 1 ease 0.2s normal;
}

@keyframes fade-in-up {
 0% {
   opacity: 0;
   transform: translate(0, 10%);
 }
 100% {
   opacity: 1;
   transform: translate(0, 0);
 }
}
