/*----------------------------------------
	Utility: text-transform
----------------------------------------*/
.u-text-upper {text-transform: uppercase !important;}
.u-text-lower {text-transform: lowercase !important;}
